@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #464646;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  position: relative;
  z-index: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  border: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  transform: scaleY(0.3);

  width: 100%;
  height: 100%;
  
  background-color: #f0c52e;
}

.btn:hover::before,
.btn:focus::before {
  transform: scale(1);
  transition: transform 0.5s;
}

/* Шапка */

.header-wrapper {
  margin: 0;
  padding: 0;
}

.main-header {
  position: relative;
  height: 190px;
  margin: 0 auto;
  padding-top: 35px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 42px;

  color: #000000;

  background-color: rgba(240, 197, 46, 0.5);
  /* outline: 1px solid blueviolet; */
}

.flex-wrap {
  display: flex;
}

.main-header .flex-wrap {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 29px;
}

.main-header a {
  color: #000000;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header-logo {
  position: absolute;
  top: -19px;
}

.search {
  position: relative;

  display: flex;
  margin: 0;
}

.search::before{
  content: "";

  position: absolute;
  top: 15px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-input {
  /* width: 144px; */
  padding-top: 14px;
  padding-left: 39px;
  padding-bottom: 14px;

  color: #000000;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;

  outline: none;
}

.search-input:focus {
  border-bottom-color: #000000;
}

.search-input:focus + .search-btn {
  visibility: visible;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder,
.search-input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* Internte Explorer 10 */
.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover:-ms-input-placeholder,
.search-input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-btn {
  width: 85px;
  visibility: hidden;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
}

.search-btn:hover {
  color: #ffffff;

  background-color: #000000;
}

.search-btn:focus {
  color: #ffffff;

  background-color: #000000;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header .user-navigation {
  position: relative;
  
  margin-left: 258px;
}

.main-header .user-navigation::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 12px;

  transform: translateY(-50%);
  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-user.svg");
}

.main-header .user-navigation:hover::before,
.main-header .user-navigation:focus::before {
  opacity: 0.6;
}

.main-header .user-navigation:active::before {
  opacity: 0.3;
}

.user-btn {
  cursor: pointer;
}

.main-header .user-btn:hover,
.main-header .user-btn:focus {
  opacity: 0.6;
}

.main-header .user-btn:active {
  opacity: 0.3;
}

.compare {
  position: relative;

  padding-left: 20px;
}

.main-header .compare {
  margin-right: 41px;
  margin-left: auto;
}

.compare::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 10px;
  height: 10px;

  transform: translateY(-50%);

  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .compare::before {
  background-image: url("../img/icon-compare.svg");
}

.cart {
  position: relative;
  
  padding-left: 24px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 12px;
  height: 12px;

  transform: translateY(-50%);
  
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .cart::before {
  background-image: url("../img/icon-cart.svg");
}

.main-header .compare:hover,
.main-header .cart:hover {
  opacity: 0.6;
}

.main-header .compare:focus,
.main-header .cart:focus {
  opacity: 0.6;
}

.main-header .compare:active,
.main-header .cart:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  list-style: none;
}

.site-navigation a:hover {
  opacity: 0.6;
}

.site-navigation a:focus {
  opacity: 0.6;
}

.site-navigation a:active {
  opacity: 0.3;
}

.header-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-site-navigation > li:first-child {
  margin-right: 289px;
}

.header-site-navigation > li {
  margin-right: 34px;
}

.header-site-navigation > li:last-child {
  margin-left: auto;
  margin-right: 0;
}

.header-site-navigation a {
  color: #000000;
}

.catalog-list {
  position: absolute;
  left: 0;
  z-index: 1;

  display: flex;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1160px;
  height: 164px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 61px;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "OpenSans", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: normal;

  list-style: none;

  background-color: #f7e296;
}

.catalog-list li:not(:last-child) {
  margin-right: 63px;
}

.catalog-list li:nth-child(5) {
  margin-bottom: 35px;
}

.catalog-list-title {
  position: relative;
  
  display: block;
  padding-right: 32px;
}

.catalog-list-title::after {
  content: "";

  position: absolute;
  top: 3px;
  right: 4px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-site-navigation > li:hover .catalog-list {
  display: flex;
}

/* Слайдер */

.slider {
  position: relative;

  /* max-height: 532px; */
  padding-right: 62px;
  padding-bottom: 144px;

  background: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 110px, #ffffff 110px);
}

.slider::before {
  content: "";

  position: absolute;
  top: 35px;
  right: 459px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-item {
  display: none;
  height: 495px;
}

.slider-item::before {
  position: absolute;
  top: 0;
  right: 49px;

  line-height: 150px;
  font-weight: 800;
  font-size: 179px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff
}

.slider-item:nth-child(1)::before {
  content: "01";
}

.slider-item:nth-child(2)::before {
  content: "02";
}

.slider-item:nth-child(3)::before {
  content: "03";
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

#product-1:checked ~ .slider-controls .slider-controls-item-1::before,
#product-2:checked ~ .slider-controls .slider-controls-item-2::before,
#product-3:checked ~ .slider-controls .slider-controls-item-3::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  
  width: 4px;
  height: 4px;

  border: 1px solid #050505;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  right: 80px;
  top: 50%;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;

  width: 12px;
  height: 12px;

  border: 1px solid #050505;
  border-radius: 50%;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item .flex-wrap {
  flex-direction: column;
  padding-top: 78px;
  padding-right: 20px;
}

.slider-item {
  /* outline: 1px solid tomato; */
}

.slider-item:nth-child(3) .flex-wrap {
  padding-right: 0;
}

.slider-item:nth-child(1) .slide-img {
  margin: 0;
  padding-left: 90px;
}

.slider-item:nth-child(2) .slide-img {
  margin: 0;
  padding-top: 10px;
  padding-left: 119px;
}

.slider-item:nth-child(3) .slide-img {
  margin: 0;
  padding-top: 64px;
  padding-left: 32px;
}

.slide-title {
  position: relative;
  
  margin: 0;
  padding: 0;
  
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-item .flex-wrap {
  align-items: flex-start;
}

.slider-item .slide-title {
  margin-bottom: 19px;
}

.slide-descr {
  max-width: 479px;
  margin: 0;
  margin-bottom: 50px;
}

.slider-item .btn {
  width: 220px;
  margin-bottom: 58px;
  
  text-align: center;

  overflow: hidden;
}

.slide-features {
  display: flex;
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.slider-item:nth-child(2) .slide-features {
  margin-top: 0;
}

.slide-features div {
  display: flex;
  flex-direction: column;

  margin-right: 77px;
}

.slider-item:nth-child(3) .slide-features-item:not(:last-child) {
  margin-right: 49px;
}

.slide-features div:last-child {
  margin-right: 0;
}

.slide-features dt {
  order: 1;

  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slide-features dd {
  margin: 0;
  margin-bottom: 6px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
  color: #000000;
}


/* Тег <main> */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* Популярные разделы */

.popular-products {
  padding-top: 144px;
  padding-bottom: 180px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.popular-products-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-products-item {
  width: 160px;;
}

.popular-products-item:not(:last-child) {
  margin-right: 40px;
}

.popular-products-item a {
  position: relative;
}

.popular-products-item a::before {
  content: "";
  
  position: absolute;
  top: -193px;

  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.popular-products-item a::after {
  content: "";

  position: absolute;
}

.popular-products-item:nth-child(1) a::after {
  top: -142px;
  left: 30px;
  
  width: 97px;
  height: 55px;

  background-image: url("../img/popular-vr.svg");
}

.popular-products-item:nth-child(2) a::after {
  top: -153px;
  left: 38px;

  width: 86px;
  height: 117px;

  background-image: url("../img/popular-monopod.svg");
}

.popular-products-item:nth-child(3) a::after {
  top: -156px;
  left: 49px;

  width: 71px;
  height: 87px;

  background-image: url("../img/popular-action-camera.svg");
}

.popular-products-item:nth-child(4) a::after {
  top: -144px;
  left: 28px;

  width: 107px;
  height: 65px;

  background-image: url("../img/popular-fitness-bracelet.svg");
}

.popular-products-item:nth-child(5) a::after {
  top: -162px;
  left: 55px;

  width: 56px;
  height: 98px;

  background-image: url("../img/popular-smart-watch.svg");
}

.popular-products-item:nth-child(6) a::after {
  top: -145px;
  left: 14px;

  width: 132px;
  height: 69px;

  background-image: url("../img/popular-quadrocopter.svg");
}

.popular-products-item a {
  color: #000000;
}

.popular-products-item a:hover::before {
  background-color: #f0c52e;
}

.popular-products-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-products-item a:active::before {
  background-color: #f0c52e;
}

.popular-products-item a:active::after {
  opacity: 0.3;
}

/* Сервис */

.service-wrapper {
  padding-bottom: 120px;

  background-color: #e5e5e5;
}

.service {
  display: flex;
  flex-wrap: wrap;
}

.service-controls {
  margin-left: 800px;
  margin-bottom: 200px;
}

.service-name-list {
  position: relative;
  top: -19px;
  
  width: 278px;
  margin: 0;
  margin-right: 123px;
  padding: 0;

  list-style: none;
}

.service-name-list::after {
  content: "";

  position: absolute;
  top: -81px;
  right: -6px;

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.service-name-list .btn::before {
  transform: scaleY(0.3);
}

.service-name-list .btn:hover::before {
  transform: scaleY(1);
}

.service-name-item {
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  
  font-size: 18px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.service-name-item:last-child {
  margin-bottom: 0;
}

.service-name-list .btn {
  display: inline-block;
  width: 160px;

  cursor: pointer;
}

#delivery:checked ~ .service-name-list .service-name-item:nth-child(1) {
  background-color: #000000;
}

#delivery:checked ~ .service-name-list .service-name-item:nth-child(1) .btn {
  color: #f7e184;
}

#delivery:checked ~ .service-name-list .service-name-item:nth-child(1) .btn:before {
  content: none;
}

#guarantee:checked ~ .service-name-list .service-name-item:nth-child(2) {
  background-color: #000000;
}

#guarantee:checked ~ .service-name-list .service-name-item:nth-child(2) .btn {
  color: #f7e184;
}

#guarantee:checked ~ .service-name-list .service-name-item:nth-child(2) .btn:before {
  content: none;
}

#credit:checked ~ .service-name-list .service-name-item:nth-child(3) {
  background-color: #000000;
}

#credit:checked ~ .service-name-list .service-name-item:nth-child(3) .btn {
  color: #f7e184;
}

#credit:checked ~ .service-name-list .service-name-item:nth-child(3) .btn:before {
  content: none;
}

.service-list {
  position: relative;
  top: -26px;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-list li {
  position: relative;

  display: none;
}

#delivery:checked ~ .service-list li:nth-child(1),
#guarantee:checked ~ .service-list li:nth-child(2),
#credit:checked ~ .service-list li:nth-child(3) {
  display: block;
}

.service-list li::after {
  content: "";

  position: absolute;
}

.service-list li:nth-child(1)::after {
  top: 12px;
  right: -256px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
}

.service-list li:nth-child(2)::after {
  top: -12px;
  right: -276px;
  
  width: 171px;
  height: 194px;

  background-image: url("../img/warranty.svg");
}

.service-list li:nth-child(3)::after {
  top: -12px;
  right: -253px;

  width: 156px;
  height: 186px;

  background-image: url("../img/credit.svg");
}

.service-list h3 {
  margin: 0;
  margin-bottom: 31px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

.service-list p {
  margin: 0;
  max-width: 436px;

  letter-spacing: 0.15px;
}

/* Список логотипов */

.logotypes {
  padding-top: 94px;
  padding-bottom: 67px;
}

.logotypes-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.logotypes-list li {
  margin-right: 40px;
}

.logotypes-list li:last-child {
  margin-right: 0;
}

.logotypes-list img {
  filter: grayscale(100%);
}

.logotypes-list img:hover {
  filter: grayscale(0);
}

/* Секция "О нас" */

.index-columns {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 67px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 49px;
}

.index-columns h2 {
  position: relative;
  
  margin: 0;
  margin-bottom: 44px;
  
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000
}

.index-columns h2::before {
  content: "";

  position: absolute;
  top: -51px;

  width: 80px;
  height: 7px;
  
  background-color: #000000;
}

.about-us {
  margin-right: 124px;
}

.about-us p {
  width: 472px;
  margin: 0;
  margin-bottom: 30px;
}

.about-us p:nth-of-type(2) {
  margin-bottom: 64px;
}

.about-us-list {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  padding-left: 36px;
  
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;

  list-style: none;
}

.about-us-list li {
  position: relative;
}

.about-us-list li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -35px;

  width: 8px;
  height: 8px;

  transform: translateY(-50%);

  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
}

.about-us-list a {
  color: #000000;
}

.about-us .btn {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin-left: 2px;
}

/* Секция "Контакты" */

.contacts p {
  margin: 0;
  margin-bottom: 39px;

  cursor: pointer;
}

.contacts .btn {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin-left: 4px;
}

.contacts-map p {
  margin-bottom: 63px;
}

/* Футер */

.main-footer {
  padding-top: 40px;

  color: #ffffff;
}

.main-footer .container {
  position: relative;
}

.main-footer .container::after {
  content: "";

  position: absolute;
  left: 20px;
  bottom: 24px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-wrapper {
  position: relative;
  
  min-height: 323px;
  padding-top: 56px;
  padding-bottom: 67px;

  background-color: #464646;
} 

.main-footer .flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .flex-wrap:nth-of-type(1) {
  margin-bottom: 20px;
}

.main-footer .flex-wrap:nth-of-type(2) {
  margin-bottom: 60px;
}

.main-footer p {
  margin: 0;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .user-navigation::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 12px;

  transform: translateY(-50%);
  
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-user-footer.svg");
}

.main-footer .user-navigation:hover::before,
.main-footer .user-navigation:focus::before {
  opacity: 0.6;
}

.main-footer .user-navigation:active::before {
  opacity: 0.3;
}

.main-footer .user-btn {
  margin-right: 44px;
  
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-btn:hover,
.main-footer .user-btn:focus {
  color: #ffffff;
}

.main-footer .user-btn:hover::before,
.main-footer .user-btn:focus::before {
  opacity: 0.6;
}

.main-footer .user-btn:active {
  opacity: 0.3;
}

.main-footer .compare, 
.main-footer .cart {
  line-height: 36px;
}

.main-footer .compare {
  width: 79px;
  margin-right: 50px;

  color: rgba(255, 255, 255, 0.7);
}

.main-footer .compare::before {
  background-image: url("../img/icon-compare-footer.svg");
}

.main-footer .compare:hover,
.main-footer .compare:focus {
  color: #ffffff;
}

.main-footer .compare:hover::before,
.main-footer .compare:focus::before {
  opacity: 0.6;
}

.main-footer .compare:active {
  opacity: 0.3;
}

.main-footer .cart {
  width: 82px;

  color: rgba(255, 255, 255, 0.7);
}

.main-footer .cart::before {
  background-image: url("../img/icon-cart-footer.svg");
}

.main-footer .cart:hover, 
.main-footer .cart:focus {
  color: #ffffff;
}

.main-footer .cart:hover::before,
.main-footer .cart:focus::before {
  opacity: 0.6;
}

.main-footer .cart:active {
  opacity: 0.3;
}

.footer-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-site-navigation li {
  margin-right: 34px;
}

.social-list {
  display: flex;
  margin: 0;
  margin-left: 510px;
  padding: 0;

  list-style: none;
}

.social-list li:not(:last-child) {
  margin-right: 22px;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.logo-htmlacademy {
  margin-left: auto;
}

.logo-htmlacademy:hover,
.logo-htmlacademy:focus {
  opacity: 0.6;
}

.logo-htmlacademy:active {
  opacity: 0.3;
}

/* Общие стили для модальных окон */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  
  display: none;
  width: 960px;
  margin: 0 auto;
  
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);

  transform: translate(-50%, -50%);
}


.modal::before {
  content: "";

  position: absolute;
  left: 0;
}

.modal-show {
  display: block;
}

/* Модальное окно "Обратная связь" */

.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-modal {
  height: 553px;
  padding-top: 93px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 92px;

  background-color: #ffffff;
}

.feedback-modal p {
  margin: 0;
}

.feedback-modal p:nth-child(1) {
  margin-bottom: 35px;
}

.feedback-modal label {
  display: block;
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
}

.feedback-modal input,
.feedback-modal textarea {
  padding-left: 20px;
  
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
  border: none;
}

.feedback-modal input {
  width: 360px;
  height: 50px;

  opacity: 0.5;
}

.feedback-modal input:invalid {
  background-color: #f6dada;
}

.feedback-modal textarea {
  width: 760px;
  height: 156px;
  margin-bottom: 40px;
  padding-top: 17px;
  
  opacity: 0.5;
}

.feedback-modal input:hover,
.feedback-modal textarea:hover {
  background-color: #eaeaea;
}

.feedback-modal input:focus,
.feedback-modal textarea:focus  {
  color: #464646;

  background-color: #ffffff;
  outline: 3px solid #f0c52e;
}

.feedback-modal .btn {
  width: 200px;
  
  background-color: transparent;
}

.close-btn {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 55px;
  height: 55px;

  background-color: #ffffff;
  background-image: url("../img/icon-modal-close.svg");
  border-radius: 50%;
  border: none;
  opacity: 0.5;

  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.3;
}

/* Модальное окно с картой */

.map-modal {
  height: 559px;
}

/* Каталог */

/* Шапка */

.catalog-page .main-header {
  margin-bottom: 33px;
}

.catalog-page.user-navigation {
  margin-right: 64px;
}

.user-navigation {
  position: relative;
  
  display: flex;
  padding-left: 27px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.user-navigation li:not(:last-child) {
  margin-right: 22px;
}

.main-header .log-out-btn {
  padding-left: 0;
  
  color: rgba(0, 0, 0, 0.3);
}

.main-header .log-out-btn::before {
  left: -150px;
}

.catalog-page h1 {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 60px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-bottom: 44px;

  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

.breadcrumbs li {
  letter-spacing: 0.14px;
}

.breadcrumbs li:not(:last-child) {
  position: relative;
  
  margin-right: 39px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -17px;

  width: 4px;
  height: 7px;

  transform: translateY(-50%);

  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Сетка каталога */

.catalog-wrapper {
  display: flex;
}

.catalog-columns {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Фильтр товаров */

.filter {
  flex-grow: 1;
  
  color: #000000;
}

.filter h2 {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy","Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.filter-bg-color {
  background-color: #d9d9d9;
}

.filter-width {
  display: flex;
  align-items: center;
  width: 330px;
  height: 72px;
  margin-left: auto;
  padding-left: 60px;
}

.filter form {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  background-color: #ebebeb;
}

.filter .form-width {
  width: 330px;
  margin-left: auto;
  padding-top: 79px;
  padding-left: 62px;
}

.sort {
  flex-grow: 1;
}

.sort-bg-color {
  flex-grow: 1;
  
  background-color: #ebebeb;
}

.sort-width {
  display: flex;
  align-items: center;
  width: 830px;
  height: 72px;
  padding-left: 71px;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  
  border: none;
}

.filter fieldset:last-of-type {
  margin-bottom: 37px;
}

.filter legend {
  position: relative;
  
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.filter legend::before {
  content: "";

  position: absolute;
  top: -11px;
  left: -1px;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.price-title {
  margin-bottom: 36px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  width: 196px;
  height: 2px;

  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;

  background-color: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:active {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: -6px;
}

.range-toggle-max {
  left: 107px;
}

.price-controls {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.price-controls .min-price {
  margin-right: 58px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.color-title {
  margin-bottom: 18px;
}

.filter input[type="checkbox"]:checked + label::after {
  content: "";

  position: absolute;
  left: -2px;
  top: 50%;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");

  transform: translateY(-50%);
}

.filter input[type="checkbox"]:checked + label::before {
  content: none;
}

.color-item {
  position: relative;
  
  padding-left: 38px;
}

.color-item label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -2px;

  width: 23px;
  height: 23px;

  border: 2px solid #000000;
  border-radius: 2px;

  transform: translateY(-50%);
}

.color-item label:hover::before,
.color-item input[type="checkbox"]:focus + label::before,
.color-item label:hover::after,
.color-item input[type="checkbox"]:focus + label::after {
  opacity: 0.6;
}

.color-item label:active::before,
.color-item label:active::after {
  opacity: 1;
}

.filter input:disabled + label,
.filter input:disabled + label::before,
.filter input:disabled + label::after {
  color: #a6a6a6;

  opacity: 0.6;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.bluetooth-title {
  margin-bottom: 18px;
  padding-top: 4px;
}

.filter .bluetooth-title::before {
  top: -8px;
}

.bluetooth-list {
  margin-bottom: 60px;
}

.bluetooth-item {
  position: relative;
  
  padding-left: 38px;
}

.bluetooth-item label::before {
  content: "";

  position: absolute;
  top: 50%;
  left: -2px;

  width: 26px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;

  transform: translateY(-50%);
}

.bluetooth-item label:hover::before,
.bluetooth-item input[type="radio"]:focus + label::before,
.bluetooth-item label:hover::after,
.bluetooth-item input[type="radio"]:focus + label::after {
  opacity: 0.6;
}

.bluetooth-item label:active::before,
.bluetooth-item label:active::after {
  opacity: 1;
}

.filter input[type="radio"]:checked + label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 7px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;

  transform: translateY(-50%);
}

.filter .btn {
  width: 200px;
  
  background-color: transparent;
}

/* Сортировка товаров */

.sort {
  display: flex;
}

.sort h2 {
  margin: 0;
  margin-right: 51px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy","Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;

  list-style: none;
}

.sort-list li:not(:last-of-type) {
  margin-right: 26px;
  
  line-height: 18px;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3)
}

.sort-list .current {
  color: #000000;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6)
}

.sort-list a:active {
  color: #000000;
}

.sort-buttons {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.sort-buttons li:not(:last-child) {
  margin-right: 20px;
}

.sort-btn {
  width: 11px;
  height: 10px;

  opacity: 0.2;
}

.sort-btn.current {
  opacity: 1;
}

.sort-btn:hover,
.sort-btn:focus {
  opacity: 0.4;
}

.sort-btn:active {
  opacity: 1;
}


/* Список товаров */

.products {
  width: 833px;
  padding-top: 68px;
  padding-left: 72px;
  padding-bottom: 36px;

  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.products-list li {
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  max-width: 360px;
  margin-bottom: 46px;
}

.products-list li:nth-child(2n+1) {
  margin-right: 40px;
}

.products-list li:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.products-list h3 {
  max-width: 255px;
  margin: 0;
  
  letter-spacing: 0.18px;
}

.product-item:nth-child(3) a {
  letter-spacing: 0.3px;
}

.products-list a {
  letter-spacing: 0.5px;
  color: #000000;
}

.product {
  position: relative;
  
  order: -1;
  margin: 0;
  margin-bottom: 25px;  
}

.product-shop {
  display: none;
}

.product:hover .product-shop {
  position: absolute;
  top: 0;
  left: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 380px;

  background-color: rgba(233, 233, 233, 0.7);
}

.product-shop .btn {
  width: 200px;
  margin-bottom: 62px;
}

.product-shop button {
  background-color: transparent;

  cursor: pointer;
}

.compare-add {
  color: rgba(0, 0, 0, 0.5);
  
  border: none;
}

.compare-add:hover,
.compare-add:focus {
  color: #000000;
}

.compare-add:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-price {
  margin: 0;
  margin-left: auto;
  
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.new-product {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.new-product {
  position: absolute;
  top: 47px;
  right: 39px;
}

.new-product::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 60px;
  height: 61px;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transform: translate(-50%, -50%);
}

/* Пагинация */

.pagination {
  padding-left: 73px;
  
  line-height: 24px;
  letter-spacing: 3.2px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 759px;
  
  background-color: #ebebeb;
}

.pagination a {
  text-transform: uppercase;
}

.pagination a, .pagination-current {
  font-size: 16px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 3.2px;
  color: #000000;
}

.pagination-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li {
  display: flex;
  margin-right: 31px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list a:active {
  color: #000000;
}

.pagination-back {
  padding-top: 23px;
  padding-right: 30px;
  padding-left: 29px;
  padding-bottom: 23px;
}

.pagination-next {
  padding-top: 23px;
  padding-right: 28px;
  padding-left: 30px;
  padding-bottom: 23px;
}

.pagination-back,
.pagination-next {
  text-transform: uppercase;
}

.pagination-back:hover,
.pagination-next:hover,
.pagination-back:focus,
.pagination-next:focus {
  background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-next:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Футер */

.main-footer .log-out-btn {
  color: rgba(255, 255, 255, 0.3);
}